.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #363A66;
  background-image: url("wallpaper.jpg");
  height: 100vh;
}

.app-shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 500px;
  min-height: 550px;
  border-radius: 10px;
  background-color: #F9F9F9;
  border: solid 5px black;
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 28px;
  font-weight: bold;
  color: black;
}

.intro-header-sub {
  font-size: 19px;
  font-weight: normal;
}

.intro-text {
  width: calc(100% - 60px);
  max-width: 400px;
  border-radius: 10px;
  background-color: #01A6FF;
  border: solid 2px black;
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  margin: 10px;
}

.start-button {
  height: 50px;
  width: 250px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: #FB05AF;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 10px;
}

.question-label {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.question-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  border-radius: 10px;
  background-color: #01A6FF;
  border: solid 2px black;
  margin: 10px;
}

.answer-button {
  height: 50px;
  width: 250px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: #FB05AF;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 5px;
}
