.question-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 275px;
  border-radius: 10px;
  background-color: #01A6FF;
  border: solid 1px #01A6FF;
  margin: 15px 0 15px 0;
}
